<html>
    <head>
        <title> Detalle Equipo </title>
        
    </head>

    <body>
        
    
    @foreach(Equipo eq in ViewBag.listaEquipos){
    <tr>
        <td>@eq.IdEquipo</td>
        <td>@eq.Nombre</td>
        <td>@eq.Escudo</td>
        <td>
            <a type="button" class="btn btn-danger" href='@Url.Action("Eliminar", new { id = @eq.IdEquipo } )'>
                Eliminar
            </a>
        </td>
    </tr>
}

</body>
</html>
