<html>
    <head>
        <title> Mundial Qatar 2022 </title>
        
    </head>

    <body>
         @foreach(Equipo eq in @ViewBag.listaEquipos){
             <!--<div class="col-3"> -->
                <div class="card" style="width: 18rem;">
                    <a href = '@Url.Action("DetalleEquipo", "Home", new{IdEquipo=eq.IdEquipo})'><img class="card-img-top" src="/Imagenes/Escudo/@eq.Escudo"> </a>
                    <div class="card-body">
                        <h5 class="card-title">@eq.Nombre</h5>
                        <p class="card-text"></p>
                        <a href='@Url.Action("DetalleEquipo","Home", new{IdEquipo=eq.IdEquipo})' class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
}


       <!-- <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/qatar.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Qatar</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/ecuador.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ecuador</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/senegal.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Senegal</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/holanda.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paises Bajos</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/inglaterra.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">inglaterra</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/iran.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Iran</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/eeuu.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Estados Unidos</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/gales.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Gales</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/argentina.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Argentina</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/mexico.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mexico</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/polonia.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Polonia</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/arabiaSaudita.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Arabia Saudita</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/francia.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Francia</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/australia.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Australia</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/dinamarca.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Dinamarca</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/tunez.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tunez</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/españa.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">España</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/alemania.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alemania</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/costaRica.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Costa Rica</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/japon.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Japon</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/belgica.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Belgica</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/canada.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Canada</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/marruecos.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Marruecos</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/croacia.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Croacia</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/brasil.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Brasil</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/serbia.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Serbia</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/suiza.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Suiza</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/camerun.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Camerun</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/portugal.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Portugal</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/ghana.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ghana</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/uruguay.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Uruguay</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/Imagenes/coreaDelSur.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Corea del Sur</h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Detalle Pais</a>
                    </div>
                </div>
            </div>
        </div>
        -->
    </body>
    @foreach(Equipo eq in ViewBag.listaEquipos){
    <tr>
        <td>@eq.IdEquipo</td>
        <td>@eq.Nombre</td>
        <td>@eq.Escudo</td>
        <td>
            <a type="button" class="btn btn-danger" href='@Url.Action("Eliminar", new { id = @eq.IdEquipo } )'>
                Eliminar
            </a>
        </td>
    </tr>
}
</html>


